<div id="contenedor" class="bg-light border">
    <h1>Hola mundo</h1>
    
    <h3>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aliquam laborum quis alias unde nulla, quae quia eius, explicabo numquam mollitia placeat architecto atque nihil. Eaque, provident atque? Nam, quae.
        Enim consequuntur reprehenderit a. Necessitatibus fuga dicta quisquam id consequatur eius beatae nostrum laudantium neque ratione, inventore quas placeat totam, eligendi autem, quam aperiam. Mollitia provident distinctio voluptates saepe reiciendis.
        Impedit hic ex nemo, cum ad error omnis mollitia vero tenetur quas eveniet, facilis facere saepe laboriosam vel, sapiente exercitationem molestiae? Impedit voluptates distinctio tempore ratione numquam reprehenderit inventore ipsa.
        Officiis eligendi sint assumenda eum maxime cumque libero porro nobis ipsam obcaecati minima, voluptatem fuga aliquam dolor id quas fugit eos neque sed similique? Magnam labore perferendis reprehenderit velit eius!
    </h3>
</div>