<div id="sidebar">  
   <a href="#" class="nav-brand" id="dashboard-sidebard"> <i class="bi bi-speedometer2"></i>Dashboard</a>
<hr>
   <a class="nav-brand tituloitems"  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="bi bi-person"></i> Usuario
    </a>
    
  
  <div class="collapse" id="collapseExample">
    <ul>
        <li>Usuarios</li>
        <li>Autoridades</li>

    </ul>
  </div>
  <br>
<hr>
  <a class="nav-brand tituloitems"  data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="bi bi-shop"></i> Ventas
   </a>
   
 
 <div class="collapse" id="collapseExample2">
   <ul>
       <li>Productos</li>
       <li>Detalle de los Productos</li>
       <li>Ventas</li>
       <li>Detalle de las ventas</li>
       <li>Métodos de pago</li>
   </ul>
 </div>

 <br>
 <hr>
  <a class="nav-brand tituloitems"  data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
    <i class="bi bi-truck"></i> Envios
   </a>
   
 
 <div class="collapse" id="collapseExample3">
   <ul>
       <li>Envios</li>
       <li>Compañías de envio</li>
       <li>Devoluciones</li>
       <li>Pedidos</li>
   </ul>
 </div>

 

 


  


    
</div>